:root {
  --brightRed: hsl(12, 88%, 59%);
  --brightRed-transparent: rgba(242, 95, 58, 0.5);
  --brightRed-ligth: hsl(12, 91%, 71%);

  --dark-Blue: hsl(228, 39%, 23%);
  --dark-Grayish-Blue: hsl(227, 12%, 61%);
  --very-Dark-Blue: hsl(233, 12%, 13%);
  --very-Pale-Red: hsl(13, 100%, 96%);

  --vary-Light-Gray: hsl(0, 0%, 98%);
  --vary-Light-Gray-transparent: rgba(250, 250, 250, 0.5);
  --vary-Light-Gray-dark: hsl(0, 9%, 86%);
}
