section.about
  div.about__introduccion
    h2.about__introduccion-title.title What's different about Manage?
    p.about__introduccion-text.description Manage provides all the functionality your team needs, without the complexity. Our software is tailor-made for modern digital product teams.
  div.about__list
    div.about__list-card
      div.about__list-title
        div.site__badge 01
        h3 Track company-wide progress
      p.about__list-description See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.

    div.about__list-card
      div.about__list-title
        div.site__badge 02
        h3 Track company-wide progress
      p.about__list-description See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.

      div.about__list-card
      div.about__list-title
        div.site__badge 03
        h3 Track company-wide progress
      p.about__list-description See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.
