section.about
  div.about__title
    h2 What's different about Manage?
    p Manage provides all the functionality your team needs, without the complexity. Our software is tailor-made for modern digital product teams.
  section.about__cards-container
    article.about-detail__card
      div.about-detail__header
        div.about__card-number 01
        p.about__card-title Track company-wide progress
      div.about-detail__body See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.
    article.about-detail__card
      div.about-detail__header
        div.about__card-number 02
        p.about__card-title Advanced built-in reports
      div.about-detail__body Set internal delivery estimates and track progress toward company goals. Ours customisable dashboard helps you build out the reports you need to keep key stakeholders informed.
    article.about-detail__card
      div.about-detail__header
        div.about__card-number 03
        p.about__card-title Everything you need in one place
      div.about-detail__body Stop jumping from one service to another to communicate, store files, track tasks and share documents. Manage offters an all-in-one team productivity solution.
