- var anisha = require('@/assets/images/avatar-anisha.png');
- var ali = require('@/assets/images/avatar-ali.png');
- var richard = require('@/assets/images/avatar-richard.png');
- var shanai = require('@/assets/images/avatar-shanai.png');

section.testimonials
  div.testimonials__title
    h2 What they've said
  div.swiper-container
    div.swiper-wrapper
      div.swiper-slide
        article.testimonials__container-card
          img(src=anisha, alt="foto de Anisha").img.
          div.testimonials__card-info
            h3.testimonials__card-title Anisha Li
            p.testimonials__card-body "Manage  hassupercharged    our  team'sworkflow.  The ability to maintain  visibilityon    larger milestones at alltimes  keeps    everyone motivated."
      div.swiper-slide
        article.testimonials__container-card
          img(src=ali, alt="foto de Ali").img.
          div.testimonials__card-info
            h3.testimonials__card-title Ali Bravo
            p.testimonials__card-body "We have beenable to     cancel  so many othersubscriptions since using    Manage. There  is no morecross-channelconfusion     and  everyone is much  morefocused."
      div.swiper-slide
        article.testimonials__container-card
          img(src=richard, alt="foto de Richard").img.
          div.testimonials__card-info
            h3.testimonials__card-title Richard Watts
            p.testimonials__card-body "Manageallowsus  to    provide  structure andprocess.It  keeps us   organized  and  focused.I  can't stop recommending  them to    everyone I   talk to!"
      div.swiper-slide
        article.testimonials__container-card
          img(src=shanai, alt="foto de Shanai").img.
          div.testimonials__card-info
            h3.testimonials__card-title Shanai Gough
            p.testimonials__card-body "Theirsoftware  allows  us   to  track,manageand  collaborate on our  projects from     anywhere. It keeps thewholeteam  in-sync   without being  intrusive"
    //- <!-- If we need pagination -->
    div.swiper-pagination