section.testimonials
  div.testimonials__title
    h2 What they've said
  section.testimonials__container-slider
    article.testimonials__container-card
      div.img.testimonials__card-peopleAnisha
      div.testimonials__card-info
        h3.testimonials__card-title Anisha Li
        p.testimonials__card-body "Manage has supercharged our team's workflow. The ability to maintain visibility on larger milestones at all times keeps everyone motivated."
    article.testimonials__container-card
      div.img.testimonials__card-peopleAli
      div.testimonials__card-info
        h3.testimonials__card-title Ali Bravo
        p.testimonials__card-body "We have been able to cancel so many other subscriptions since using Manage. There is no more cross-channel confusion and everyone is much more focused."
    article.testimonials__container-card
      div.img.testimonials__card-peopleRichard
      div.testimonials__card-info
        h3.testimonials__card-title Richard Watts
        p.testimonials__card-body "Manage allows us to provide structure and process. It keeps us organized and focused. I can't stop recommending them to everyone I talk to!"
    article.testimonials__container-card
      div.img.testimonials__card-peopleShanai
      div.testimonials__card-info
        h3.testimonials__card-title Shanai Gough
        p.testimonials__card-body "Their software allows us to track, manage and collaborate on our projects from anywhere. It keeps the whole team in-sync without being intrusive."