-var monkey = require('@/assets/chaos-monkey.jpg')
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HomePage
    body
        section.Home
            h1 INITIAL PAGE
            img(src=monkey)